@model LezioneViewModel
<h1>Eliminazione della lezione @Model.LezioneId</h1>
<p>Sei sicuro di voler cancellare la lezione?</p>
<br />
<form method="post">
<div class="form-group">
    <label asp-for="DataOraInizio">Data e Ora di inizio</label>
    <input asp-for="DataOraInizio" class="form-control" readonly/>
    <span asp-validation-for="DataOraInizio" class="text-danger"></span>
</div>

<div class="form-group">
    <label asp-for="Durata">Durata della lezione</label>
    <input asp-for="Durata" class="form-control" readonly/>
    <span asp-validation-for="Durata" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="Aula">Aula</label>
    <input asp-for="Aula" class="form-control" readonly/>
    <span asp-validation-for="Aula" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="DocenteID">Docente Assegnato</label> @*da fare a tendina come in studente*@
    <input asp-for="DocenteID" class="form-control" readonly/>
    <span asp-validation-for="DocenteID" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="CorsoCodice">Corso Assegnato</label> @*da fare a tendina come in studente*@
    <input asp-for="CorsoCodice" class="form-control" readonly/>
    <span asp-validation-for="CorsoCodice" class="text-danger"></span>
</div>
<br />
<input type="submit" value="Elimina Lezione" class="btn btn-danger" />
<a class="btn btn-primary" asp-controller="Lezioni" asp-action="Index">Indietro</a>
</form>