@{
    ViewData["Title"] = "Home Page";
}
<e-mail to-user="pippo@mail.it"></e-mail>
@*<web text-button="Sito Avanade" language-site="it-it" site="https://www.avanade.com"></web>*@
<web text-button ="Avanade"></web>
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
