@model StudenteViewModel
<h1>Inserisci nuovo studente</h1>
<br />
<form method="post">
@*<div class="form-group">
    <label asp-for="ID">Id dello studente</label>
    <input asp-for="CorsoCodice" class="form-control" />
    <span asp-validation-for="ID" class="text-danger"></span>
</div>*@

<div class="form-group">
    <label asp-for="Nome">Nome dello studente</label>
    <input asp-for="Nome" class="form-control" />
    <span asp-validation-for="Nome" class="text-danger"></span>
</div>

<div class="form-group">
    <label asp-for="Cognome">Cognome dello studente</label>
    <input asp-for="Cognome" class="form-control" />
    <span asp-validation-for="Cognome" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="Email">E-mail</label>
    <input asp-for="Email" class="form-control" />
    <span asp-validation-for="Email" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="TitoloStudio">Titolo di Studio</label>
    @*<input asp-for="TitoloStudio" class="form-control" />*@
    <select asp-for="TitoloStudio" asp-items="@ViewBag.TitoloStudio" class="form-control">
        <option value="">Scegli un'opzione...</option>
        @*<option value="M">Master</option>
        <option value="D">Diploma</option>
        <option value="L">Laurea</option>*@
    </select>
    <span asp-validation-for="TitoloStudio" class="text-danger"></span>
</div>

<div class="form-group">
    <label asp-for="DataNascita">Data di nascita</label>
    <input asp-for="DataNascita" class="form-control" />
    <span asp-validation-for="DataNascita" class="text-danger"></span>
</div>

<div class="form-group">
    <label asp-for="CorsoCodice">Codice del Corso</label>
    <input asp-for="CorsoCodice" class="form-control" />
    <span asp-validation-for="CorsoCodice" class="text-danger"></span>
</div>

<br />
<input type="submit" value="Inserisci" class="btn btn-primary" />
<input type="reset" value="Reset" class="btn btn-primary" />
<a class="btn btn-primary" asp-controller="Studenti" asp-action="Index">Indietro</a>
</form>